<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112275176907-d8amms8b6sro1ofsblsg8mvvt3u4sfb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112275176907-d8amms8b6sro1ofsblsg8mvvt3u4sfb2</string>
	<key>API_KEY</key>
	<string>AIzaSyBThNLnE6x7KFAoNKmCAWqYeLsJ8AVsM7U</string>
	<key>GCM_SENDER_ID</key>
	<string>112275176907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.llabelApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>talkreel-6cb3f</string>
	<key>STORAGE_BUCKET</key>
	<string>talkreel-6cb3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112275176907:ios:d4101c91a35b7f77324a4e</string>
	<key>DATABASE_URL</key>
	<string>https://talkreel-6cb3f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>